* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #ecf2ff;
}

body {
  height: 100vh; /* Fallback */
  height: 100dvh;
  background-color: var(--bg-color);
  position: relative;
}
